#editing-lines {
  list-style: none;
  padding: 0;
  margin: 2em auto 0;
  width: 90%;
}

#editing-lines form {
  display: flex;
  margin-bottom: 1em;
}

#run-scene-parent {
  margin: auto;
  width: 90%;
}

#run-scene {
  display: block;
  background-color: #f9ad60;
  border: none;
  border-radius: 3px;
  font-size: 1.2em;
  text-align: center;
  margin: 1em 0 2em auto;
  padding: 0;
  width: 40%;
  max-width: 350px;
  transition: background-color .3s;
}

#run-scene:hover {
  cursor: pointer;
  background-color: #e17b15;
}

#run-scene a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 0.5em 0;
  width: 100%;
  height: 100%;
}
