* {
  /* border: 1px solid red; */
}

#hamburger {
  background: none;
  border: none;
}

#hamburger:hover {
  cursor: pointer;
}

.burger-button {
  width: 35px;
  height: 5px;
  background-color: #00bddb;
  margin: 6px 1em;
}

.hamburger-menu {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  list-style: none;
  margin-top: 0;
  padding: 0;
  width: 100%;
}

.hamburger-menu li {
  /* width: 100%; */
}

.hamburger-menu a {
  display: block;
  background-color: #00bddb;
  border-bottom: 1px solid white;
  color: white;
  text-align: center;
  text-decoration: none;
  /* margin-right: 1em; */
  padding: 0.5em 1em;
  transition: background-color .3s;
}

.hamburger-menu a:hover {
  cursor: pointer;
  background-color: #00869b;
}

.is-active {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
