/* Header */
#home-header {
  background-color: white;
}

#home-header h1 {
  margin: 0 auto;
  text-align: center;
}

/* Home Page */
#scenes {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

#scenes li {
  border-radius: 3px;
  font-size: 1.5em;
  text-align: center;
  margin: 1em auto;
  width: 80%;
}

#scenes li:nth-of-type(odd) {
  background-color: lightgray;
}

#scenes li:nth-of-type(even) {
  background-color: white;
}

#scenes li:hover {
  cursor: pointer;
  background-color: #00bddb;
}

#scenes li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 3em;
}

#scenes li:last-of-type {
  width: 40%;
}

#scenes li:last-of-type a {
  padding: 0;
}
