.char-name, .line-text {
  display: inline-block;
}

.char-name {
  font-size: 1em;
  min-width: 100px;
  margin-top: 0;
}

.line-text {
  background-color: white;
  border: none;
  border-radius: 3px;
  margin-left: 30px;
  transition: background-color .3s;
}

.line-text:hover {
  cursor: pointer;
  background-color: #00bddb;
}
