nav {
  position: sticky;
  top: 0;
  bottom: 0;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  background-color: white;
  margin-bottom: auto;
  width: 100%;
  height: 10vh;
  min-height: 60px;
  z-index: 10;
}

#home {
  font-size: 1.8em;
  margin-left: 25px;
  margin-right: auto;
}

#home a {
  color: #00bddb;
  text-decoration: none;
}

#home:hover {
  cursor: pointer;
}
