#new-scene-main {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#new-scene {
  position: relative;
  bottom: 10vh;
}

#new-scene-name {
  display: block;
  border: 3px solid lightgray;
  border-radius: 3px;
  font-size: 1.5em;
  margin: 1em auto;
  text-align: center;
  width: 60%;
  height: 2em;
}

#create-scene {
  display: block;
  border: none;
  font-size: 1.3em;
  border-radius: 3px;
  background-color: #00bddb;
  color: white;
  margin: auto;
  padding: 1em 0;
  width: 60%;
}

#create-scene:hover {
  cursor: pointer;
  background-color: #00869b;
}
