.login-parent {
  background-color: rgba(0, 189, 219, 0.6);
  /* opacity: 0.5; */
  height: 90vh;
  padding-top: 1px;
}

.login-parent::after {
  content: '';
  background: url(https://s3.amazonaws.com/scene-partner-images/script.jpg);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.5; */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#account-creation, #login-form {
  background: url(https://s3.amazonaws.com/scene-partner-images/paper_fibers.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  margin: 8em auto;
  width: 80%;
  max-width: 600px;
}

.form-inputs {
  width: 100%;
}

#account-creation input, #login-form input {
  background: url(https://s3.amazonaws.com/scene-partner-images/paper_fibers.png);
}

#account-creation input, #account-creation button, #login-form input, #login-form button {
  margin-bottom: 1.2em;
  width: 65%;
  max-width: 200px;
}

#account-creation label, #login-form label {
  display: block;
  margin: auto;
  width: 65%;
  max-width: 200px;
}

#account-creation input, #login-form input {
  display: block;
  border: none;
  border-bottom: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

#create, #login {
  max-width: 400px;
  height: 1.5em;
  font-size: 1.2em;
  font-weight: 700;
  color: white;
  background-color: #00bddb;
  border: 1px solid white;
  border-radius: 3px;
  margin: auto;
  transition: background-color .3s;
}

#create:hover, #login:hover {
  background-color: #00869b;
  cursor: pointer;
}
